body {
    font-family: $sans;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: $blk1
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.label-description {
    font-weight: 400;
    font-size: ms(0);
    color: $gr1;
    margin-bottom: .5rem;
}
