html {
    font-size: 87.5%;
    line-height: 140%;
}

body {
    font-family: $sans;
}

a {
    text-decoration: none;
    color: $blk1
}

p {
    font-size: ms();
}

small {
    font-size: ms(-1);
    color: $gr2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: ms(2);
    margin: 0;
    padding-bottom: 1rem;

    @include breakpoint($small) {
        font-size: ms(3);
    }
}

h2 {
    font-size: ms(1);
    margin: 0;
    padding-bottom: 1rem;

    @include breakpoint($small) {
        font-size: ms(2);
    }
}

h5 {
    font-size: ms();
    margin: 0;
}
